<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
          function getNacionalidade() {      /* Função para obter as nacionalidades da rota*/
              $.ajax({
                url: "/nacionalidades/listar", /* Chamada da rota*/
                type: "GET",                   /* Método usado pela rota*/
                dataType: "json",              /* Tipo de dado retornado pela rota*/
                success: function (res) {      /* Inclui os elementos do <select>*/
                  $("#inputNacionalidade").html("<option selected>(Informe)</option>");
                  $.each(res.resultado, function (key, value) {
                    $("#inputNacionalidade").append(                /* Inclui os elementos vindos da rota */
                      "<option value=" + value.IdNacionalidade + ">" + value.NoNacionalidade + "</option>"
                    );
                  });
                },
              });
          }
        getNacionalidade();
      });
    </script>

  </head>

  <body>
    <ul>
      <li><a href="/listar">Cadastro de Autores</a></li>
    </ul>
    
    <h1>Cadastro de Autores</h1>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputNome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="inputNome" placeholder="Autor">
      </div>
      <div class="col-md-6">
        <label for="inputNacionalidade" class="form-label">Nacionalidade</label>
        <select id="inputNacionalidade" class="form-select">
          <option selected>(Informe)</option>
        </select>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>